# Import packages

In [1]:
from sec_edgar_downloader import Downloader
import pandas as pd

# Import company list

In [24]:
company_list = pd.read_csv("../R code/company_list.csv")

company_list.head()

,Unnamed: 0,Symbol,Security,GICS Sector,GICS Sub Industry,CIK
0,1,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,1467373
1,2,ADBE,Adobe Systems Inc,Information Technology,Application Software,796343
2,3,AMD,Advanced Micro Devices Inc,Information Technology,Semiconductors,2488
3,4,AKAM,Akamai Technologies Inc,Information Technology,Internet Services & Infrastructure,1086222
4,5,ADS,Alliance Data Systems,Information Technology,Data Processing & Outsourced Services,1101215

In [25]:
company_cik_list = [str(i).zfill(10) for i in list(company_list["CIK"])]

In [28]:
company_cik_list[0]

'0001467373'

# Download 10-K

In [26]:
dl = Downloader()

In [30]:
for company in company_cik_list:
    dl.get("10-K", company, after="2010-01-01", before="2020-12-31")